.row{   

    background-color:maroon;
    color:black;
    font-size:20px;
}
.headshot{
    width:20%;
   
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    border:solid 10px black;
    font-size:30px;
}
.aboutme{
    border:1px solid black;
    align-items:center;
}
.footer p{
}
.footer {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}
.pic-of-me{
    width:100px;
    height:100px;
}
.aboutME{
    font-size:25px;
    font-family: 'Pacifico', cursive;
}
.circuit-img{
    display:block;
    margin:0 auto;
}
.arrow-about{
    width:100px;
    height:100px;
}
.contacts{
  width:500px;
  margin:0 auto;
}
.contacts p{
    text-align:center;
    width:100%;
    color:white;
    font-size:50px;
}
.contact{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}
.backgroundcontacts{
    background-image: url(http://paperlief.com/images/pixel-background-gif-wallpaper-4.jpg);
}